<%= form_tag(root_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
    <%= submit_tag "Search" %>
<% end %>

<h1>Select a recipe to see its details:</h1>

<% if @results.present? %>
    <ul class="row small-up-2 large-up-4">
    <% @results.each do |result| %>
        <li class="column">
            <section>
                <%= link_to (image_tag "#{ result.image }", alt: "#{ result.name }", class: "recipe-image"), homepage_path(result.name) %>
                <h3><%= link_to result.name, homepage_path(result.name) %></h3>
            </section>
        </li>
    <% end %>
    </ul>
<% else %>
    <p>There are no recipes containing the term(s): <%= params[:search] %>.</p>
<% end %>
